<%= simple_form_for @movement, html: { class: "form" } do |f| %>
    <%= f.input :name, placeholder: "Name your movement", hint: "Need to be unique" %>
    <div class="btn_group_inline">
        <%= link_to "Cancel", movements_path, class: "btn btn--light" %>
        <%= f.button :submit, class: "btn btn--secondary" %>
    </div>
<% end %>
