<h1>Movements</h1>

<% @movements.each do |movement| %>
    <%= movement.name %></p>
<% end %>

<button><%= link_to "New Movement", new_movement_path %></button>
<%= link_to "My Workouts", workouts_path %>
