<main class="container">
    <div class="header">
        <h1>Edit workout</h1>
    </div>

    <%= turbo_frame_tag "header_workout_#{@workout.id}" do %>
        <%= render "form", workout: @workout %>
    <% end %>
</main>
