<main class="container">
    <div class="header">
        <div class="header_heading">
            <%= link_to 'arrow_back', url_for(:back), class: "material-symbols-outlined" %>
            <h1><%= t :new_workout %></h1>
        </div>
    </div>
    <%= turbo_frame_tag @workout do %>
        <%= render "form", workout: @workout %>
    <% end %>
</main>
