<main class="container">
  <h1>Workout notes</h1>
  <p>A workout note app</p>

  <% if user_signed_in? %>
    <%= link_to "View workouts", workouts_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>
