.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.btn:hover,
.btn:focus,
.btn:focus-within,
.btn:active {
  transition: filter 250ms, color 200ms;
}

.btn_primary {
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
}

.btn_primary:hover,
.btn_primary:focus,
.btn_primary:focus-within,
.btn_primary:active {
  color: var(--color-white);
  filter: saturate(1.4) brightness(115%);
}

.btn_secondary {
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));
}

.btn_secondary:hover,
.btn_secondary:focus,
.btn_secondary:focus-within,
.btn_secondary:active {
  color: var(--color-white);
  filter: saturate(1.2) brightness(110%);
}

.btn_light {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.btn_light:hover,
.btn_light:focus,
.btn_light:focus-within,
.btn_light:active {
  color: var(--color-dark);
  filter: brightness(92%);
}

.btn_dark {
  color: var(--color-white);
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}

.btn_dark:hover,
.btn_dark:focus,
.btn_dark:focus-within,
.btn_dark:active {
    color: var(--color-white);
}

.material-symbols-outlined {
  display: flex;
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
  text-align: center;
  color: var(--color-dark);
}
