.empty-state {
    padding: var(--space-m);
    border: var(--border);
    border-style: dashed;
    text-align: center;
    margin-bottom: var(--space-s);
}

.empty-state__text {
    font-size: var(--font-size-m);
    color: var(--color-text-header);
}

.empty-state--only-child {
    display: none;
}

.empty-state--only-child:only-child {
    display: revert;
  }
