.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: var(--font-size-m);

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);

    margin-bottom: var(--space-m);
    padding: var(--space-s);
}

@media(min-width: 50rem) {
    .list {
        padding: var(--space-xs) var(--space-m);
    }
}

.list_note {
    color: var(--color-dark);
}

.list_inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);

    margin-bottom: var(--space-m);
    padding: var(--space-s);
}

.list_actions {
    display: flex;
}

.list_header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    border-bottom: var(--border);
    margin-bottom: var(--space-s);
    padding-bottom: var(--space-s);
}

.list .list_inline {
    box-shadow: none;
    margin-bottom: var(--space-s);
    padding: 0;
    text-align: center;
}

.list .form {
    box-shadow: none;
    margin-bottom: var(--space-s);
    padding: 0;
    text-align: center;
}

.list_inline .form {
    box-shadow: none;
    padding: 0;
}

.last_performance {
    display: flex;
    gap: var(--space-s);
    border-bottom: var(--border);
    margin-bottom: var(--space-s);
    padding-bottom: var(--space-s);
}

.last_performance ul li {
    display: inline-flex;
    padding: 0 var(--space-s);
}

label {
    display: flex;
    margin-bottom: var(--space-xs);
    gap: var(--space-xs);
}

.small_text {
    font-size: var(--font-size-s);
    color: var(--color-header);
}
