.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: var(--font-size-l);

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);

    margin-bottom: var(--space-m);
}

@media(min-width: 50rem) {
    .list {
        padding: var(--space-xs) var(--space-m);
    }
}

.list_note {
    color: var(--color-dark);
}

.list_inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);

    margin-bottom: var(--space-m);
    padding: var(--space-s);
    text-align: center;
}

.list_inline a {
    text-align:start;
}

.list_actions {
    display: flex;
}

.list_header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}

.list .list_inline {
    box-shadow: none;
    margin-bottom: var(--space-s);
    padding: 0;
    text-align: center;
}

.list .form {
    box-shadow: none;
    margin-bottom: var(--space-s);
    padding: 0;
    text-align: center;
}
