<%= form_with model: [ @workout, @workout.exercises.build ] do |form| %>
  <%= form.select :movement_id, Movement.all.collect { |m| [ m.name, m.id ] } %>
  <p>
    <%= form.submit %>
  </p>
<% end %>




