<main class="container">
    <div class="header">
        <div class="header_heading">
            <%= link_to 'arrow_back', url_for(:back), class: "material-symbols-outlined" %>
            <h1>New exercise</h1>
        </div>
    </div>

    <%= render "form", exercise: @exercise %>

    <p>Don't find the movement you're looking for?</p>
    <%= link_to "Add a new movement", new_movement_path %>

</main>
